{% extends 'base.html' %}
{% block content %}
<h2 class="mb-4">Transaction Dashboard</h2>
<a href="/add" class="btn btn-success mb-3">+ Add Transaction</a>
<table class="table table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Date</th><th>Type</th><th>Category</th><th>Amount</th><th>Partner</th><th>Note</th>
    </tr>
  </thead>
  <tbody>
    {% for t in transactions %}
 <table>
  <tr>
    <th>Date</th>
    <th>Type</th>
    <th>Category</th>
    <th>Amount</th>
    <th>Note</th>
    <th>Partner</th>
    <th>Excavator</th>
  </tr>
  {% for t in transactions %}
  <tr>
    <td>{{ t.date }}</td>
    <td>{{ t.type }}</td>
    <td>{{ t.category }}</td>
    <td>{{ t.amount }}</td>
    <td>{{ t.note }}</td>
    <td>{{ t.partner }}</td>
    <td>{{ t.excavator }}</td>
  </tr>
  {% endfor %}
</table>

    {% endfor %}
  </tbody>
</table>
{% endblock %}
